body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-image: url('https://binusianorg-my.sharepoint.com/personal/david_alvyn_binus_ac_id/Documents/Source%20SE/Bg-page.png?csf=1&web=1&e=KgwSMP');
    background-size: cover;
}

@media (max-width: 576px) {
    .h2 {
        font-size: 1rem;
    }

    .h4 {
        font-size: 0.8rem;
    }

    .h5 {
        font-size: 0.7rem;
    }

    .h6 {
        font-size: 0.6rem;
    }

    hr {
        margin: 0;
    }

    .profile-btn {
        font-size: small;
    }
}

@media (max-width: 768px) {
    .profile-btn {
        width: 60%;
    }
}

.navbar {
    background-color: #EAFDFC;
}

.btn-group {
    background-color: #D2F3F6;
}

.search {
    margin-right: 2em;
    font-size: 1em;
}

.navigation {
    font-size: 12px;
}

.nav-link:hover {
    opacity: 80%;
}

.list-group-item {
    background-color: #EAFDFC;
}

.breadcrumb {
    margin-top: 5rem;
}

.content {
    margin-bottom: 2rem;
}

.content-bg {
    background-color: #D2F3F6;
}

.image {
    width: 100%;
}

.edit-motivation {
    color: grey;
}

.edit-motivation:hover {
    color: black;
}

.profile-btn {
    width: 93%;
    background-color: #82AAE3;
    color: #fff;
}

.profile-btn:hover {
    background-color: #92B5E8;
    color: #fff;
}

.card-bg {
    background-color: #91D8E4;
}

.card {
    width: 100%;
}