body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-image: url('https://binusianorg-my.sharepoint.com/personal/david_alvyn_binus_ac_id/Documents/Source%20SE/Bg-page.png?csf=1&web=1&e=KgwSMP');
    background-size: cover;
}

@media (max-width: 576px) {
    #navbarSupportedContent {
        font-size: 13px;
    }

    #h4 {
        font-size: 1em;
    }

    #user_img {
        width: 500px;
        justify-content: center;
    }
}

.ms-3 {
    margin-right: 2em;
    font-size: 1em;
}

.btn-group {
    background-color: #D2F3F6;
}

.navbar {
    background-color: #EAFDFC;
}

.navbar-brand {
    font-size: 24px;
    margin-right: 4em;
}

.nav-link:hover {
    opacity: 80%;
}

.list-group-item {
    background-color: #EAFDFC;
}

.h4 {
    font-size: 2em;
}

.profile_box {
    background-color: #D2F3F6;
    width: 95%;
}

.h4 {
    margin: 1.5em;
}

.edit_motivation {
    color: grey;
}

.edit_motivation:hover {
    color: black;
}